<h1>Enter new payment</h1>
<%= render "data", order: @order %>
<%= form_tag pay_order_path do %>
  <div id="dropin"></div>
  <%= submit_tag "Pay", class: "btn btn-primary" %>
  <%= render "braintree" %>
<% end %>
