<% content_for(:title, "About") %>
<div id="about">
  <div class="container">
    <div class="featurette-divider">
           <%= (image_tag('slogo.jpg', alt: '', class: "featurette-image img-responsive pull-right" )) %>
            <h2 class="featurette-heading">A long time ago in a galaxy far far away...</h2>
            <br>
            <br>
            <h2>The Star Wars Store was born</h2>
           <p class="lead">This is a project that is being developed a my first Ruby on Rails application. This application is an online store for anyone who loves Star Wars.</p>
           <p class="lead">This application is being built in Ruby on Rails using the Bootstrap framework. I wanted to make an application that was fully responsive.There is also some JavaScript and jQuery in application.</p>
           <p class="lead">Some of the main features will be a shopping cart, payment scenarios, managing credit card details, and subscription plans. If I have enought time there will also be a blog integrated into the application</p>
       </div>

       <hr class="featurette-divider">
</div>
</div>
