
<% content_for(:title, "About Me") %>
<div id="about">
<div class="container">
            <div class="row-fluid">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Me</h2>
                    <p class="lead">Welcome to the Star Wars store. This is an application that is being built as a project for WEBD435 at Franklin University</p>
                    <p class="lead">This application is an online store that will allow users to sign up, browse for Star Wars products, add them to a shopping cart, and complete a transaction.</p>
                    <p class="lead">This is the beginning stages of the app right now. Check back later on to see how it is coming along.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <%= image_tag "c3_luke.jpg", :class => "image-responsive" %>
                </div>
            </div>

        </div>
        <!-- /.container -->
</div>
