<% content_for(:title, "About") %>
<div id="about">
  <div class="container">
    <div class="featurette-divider">
           <%= (image_tag('slogo.jpg', alt: '', class: "featurette-image img-responsive pull-right" )) %>
            <h2 class="featurette-heading">A long time ago in a galaxy far far away...</h2>
            <br>
            <br>
            <h2>The Star Wars Store was born</h2>
           <p class="lead"> This is a project that is being developed as my first full Ruby on Rails application. It is a complete online store for anyone who loves Star Wars. </p>
           <p class="lead">This application is being built in Ruby on Rails using the Bootstrap framework. I wanted to make an application that was fully responsive.There is also some JavaScript and jQuery in application.</p>
           <p class="lead">Some of the main features of this application are a products page (complete with admin ability to add, edit, and delete products, shopping cart functionality, payment scenarios, and managing credit card details.</p>
       </div>

       <hr class="featurette-divider">
</div>
</div>
