/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
/* Nav */
nav.navbar.navbar-inverse.navbar-fixed-top li a {
  color:#FFE81F;
  font-size:18px;

}
nav.navbar.navbar-inverse.navbar-fixed-top li a:hover {
  color:#fff;


}
.navbar-inverse .navbar-brand {
    color:#FFE81F;
    font-size:23px;

}

/* Intro Start */
.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: image-url("star_wars_bg.jpg") no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

/* About */
#about {
background: image-url("aboutbg.jpg") no-repeat center center;
background-size: cover;
}

#about .container {
  position: relative;
  padding-top:5%;
  padding-bottom:5%;
  background-color:#1D1D1B;
  color:#DDDDDD;
}


.featurette-divider {
    margin: 80px 0;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
    color:#F8E90A;
}

/* Products and Cart */
#products {
  background: image-url("battle.jpg") no-repeat center center;
  background-size:cover

}
#products .container {
  position: relative;
  padding-top:2%;
  width:1100px;
  height:1200px;
  background-color:#FFF;
  color:#000;

}
#products .container a {
  color:#617179;
}

#products .container h1 {
  color:#000;
  font-weight:bold;
  font-family: "Droid Sans", arial, verdana, sans-serif;

}



/* Contact */
#forms {
  background: image-url("star_bg2.jpg") no-repeat center center;
  background-size: cover;



}

#forms .container{
  width:700px;
  height:700px;
  background-color:#181818;
  color:#fff;
  position: relative;
  padding-top:5%;
  padding-bottom:5%;

    h1 {
      color:#FFE81F;
      font-weigh:600;
      font-family: "Droid Sans", arial, verdana, sans-serif;

    }
    a {
      color:#FFE81F;

    }

}
.btn.btn-success.btn-lg{
  background-color:#FFE81F;
  color:#000;

}

/* Footer */

footer {
  background-color: #222222;
  padding: 25px 0;
  text-align: center;

}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
  color:#FFE81F;
}
  ul.quicklinks a {
  margin-bottom: 0;
  line-height: 40px;
  text-transform: uppercase;
  text-transform: none;
  color:#FFE81F;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
p.copyright {
    margin: 15px 0 0;
}
